body {
    background-color: #fcfcfc;
    font-family: 'Inter', sans-serif;
    color: #3b3b3b;
}

.title {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

.description {
    text-align: center;
    line-height: 1.5;
    margin-bottom: 7px;
    font-size: 16px;
    font-weight: 500;
}

.page {
    padding: 0 15px;
}